doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    script(src="https://cdn.socket.io/4.2.0/socket.io.min.js") 
  body 
    h1 Test 
    main
      form#main-form
        input(type="text")
        button(type="submit" name="chat" onclick='this.form.target="chat";') join chat 
        button(type="submit" name="voice" onclick='this.form.target="voice";') join voice
        
    script(src="public/js/index.js") 

  